.jumbotron.text-center
	h1 Nerds and Proud
	p {{tagline}}
	div.container
		table.table.table-bordered
			tr
				td(colspan=7) spacer
				td(colspan=10) Winning Team
			-var games = ['Championship', 'Finals', 'Semifinals', 'Quarterfinals', 'Round of 32', 'Round of 64'];
			-var winning_numbers = [];
			-var losing_numbers = [];
			-for(var i = 0; i < games.length; i++)
				-winning_numbers.push([1,2,3,4,5,6,7,8,9,0]);
				-losing_numbers.push([0,9,8,7,6,5,4,3,2,1]);
			-for(var i = 0; i < games.length; i++)
				tr
					-if(i == 0)
						td(rowspan=16, id='losing-label')
					-if(i != 0)
						-var new_id = games[i-1].toLowerCase().replace(/\s+/g, '-') + "-label";
						td(rowspan=6-i, id= new_id)
					-if(i == 5)
						td(colspan=6-i, style="width: 150px;")= games[i]
					-else
						td(colspan=6-i)= games[i]
					-for(var j = 0; j < winning_numbers[0].length; j++)
						td= winning_numbers[i][j]
			-for(var j = 0; j < losing_numbers[0].length; j++)
				tr
					-for(var i = 0; i < games.length; i++)
						td= losing_numbers[i][j]
					-for(var i = 0; i < winning_numbers[0].length; i++)
						td= winning_numbers[0][i]
		div(id="losing-team-label", rotate-me='', my-parent='losing-label') Losing Team
		-for(var i = 0; i < games.length-1; i++)
			-var parent_id = games[i].toLowerCase().replace(/\s+/g, '-') + "-label";
			div(id="losing-team-label", rotate-me='', my-parent= parent_id)= games[i]

		-for(var i = 0; i < games.length-1; i++)
			-var parent_id = games[i].toLowerCase().replace(/\s+/g, '-') + "-label";
			div(class="forty-five-degrees", rotate-me-45='', my-parent= parent_id)= games[i]

link(rel='stylesheet', href='/css/box.css')
